.shopTitle {
  margin-top: 100px;
  text-align: center;
  font-size: 40px;
}
.products {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

.product {
  border-radius: 15px;
  width: 300px;
  height: 350px;
  margin: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.product img {
  width: 400px;
}

.product .description {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product:hover {
  transition: 0.9s ease-in;
  cursor: pointer;
  -webkit-transition: 0.9s ease-in;
  -moz-transition: 0.9s ease-in;
  -ms-transition: 0.9s ease-in;
  -o-transition: 0.9s ease-in;
}

.addToCartBttn {
  background-color: transparent;
  border: 2px solid rgb(19, 19, 19);
  padding: 8px 15px;
  border-radius: 15px;
  transition: background-color 0.4s ease, color 0.4s ease;
}

.addToCartBttn:hover {
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: pointer;
}